<div class="header">
  <div class="container">
    <div class="brand">
      <a href="/<%= @locale %>">1Afisha</a>
      <a href="/lv">lv</a>
      <a href="/ru">ru</a>

      <a href="/<%= @locale %>/events/new">add event</a>
    </div>
    <div class="user">
      <% if user_signed_in? %>
        <img src="https://graph.facebook.com/<%= current_user.uid %>/picture" class="avatar">
        <%= current_user.fullname %>  <%= link_to t('logout'), destroy_user_session_path %>
      <% else %>
        <%= link_to t('login'), user_omniauth_authorize_path(:facebook) %>
      <% end %>  
    </div>
  </div>
</div>