<% if user_signed_in? %>
  <%= current_user.fullname %>, <%= link_to "logout", destroy_user_session_path %>
<% else %>
  <%= link_to "login", new_user_session_path %>
<% end %>

<h2>MultikinoLV</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @multikino_lv.each do |movie|%>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>MultikinoRU</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @multikino_ru.each do |movie|%>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>ForumcinemasLV</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @forumcinemas_lv.each do |movie| %>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>ForumcinemasRU</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @forumcinemas_ru.each do |movie| %>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>
