<h2>MultikinoLV</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @multikino.get_lv_movies.each do |movie|%>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>MultikinoRU</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @multikino.get_ru_movies.each do |movie|%>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>ForumcinemasLV</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @forumcinemas.get_lv_movies.each do |movie| %>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>ForumcinemasRU</h2>

<table>
  <th>
    <tr>
      <td>title</td>
      <td>showings</td>
      <td>description</td>
      <td>url</td>
    </tr>
  </th>
  <% @forumcinemas.get_ru_movies.each do |movie| %>
    <tr>
      <td><%= movie[:title] %></td>
      <td><%= movie[:showings].join(", ") %></td>
      <td><%= movie[:description] %></td>
      <td><%= movie[:url] %></td>
    </tr>
  <% end %>
</table>
